<h1>Kontakt</h1>
<p>Bestyrelsen kontaktes over mail <br><a href="mailto:gunstnere@gmail.com">gunstnere@gmail.com</a></p> 
<br>
<h2>Bestyrelsesmedlemmer</h2>
<div class="board-member">
    <img src="/images/menuha.jpg" alt="Forperson ved navn Menuha">
    <div>
        <h2>Menuha Karunakaran Thambirajah</h2>
        <p>Forperson.</p>
    </div>
</div>
<div class="board-member">
    <img src="/images/daniel.jpg" alt="Næstformand ved navn Daniel">
    <div>
        <h2>Daniel Ahmad Farzin Wirenfeldt</h2>
        <p>Næstformand.</p>
    </div>
</div>
<div class="board-member">
    <img src="/images/thomas.jpg" alt="Kasserer Thomas">
    <div>
        <h2>Thomas Palmkvist Sørensen</h2>
        <p>Kasserer.</p>
    </div>
</div>
<div class="board-member">
    <img src="/images/mello.jpg" alt="Bestyrelsesmedlem Mello">
    <div>
        <h2>Mello P. Pedersen</h2>
        <p>Bestyrelsesmedlem</p>
    </div>
</div>
<div class="board-member">
    <img src="/images/obi.jpg" alt="Bestyrelsesmedlem Tobias">
    <div>
        <h2>Tobias Loft Pedersen</h2>
        <p>Bestyrelsesmedlem</p>
    </div>
</div>
<!-- <div class="board-member">
    <img src="https://source.unsplash.com/random/150x150/?portrait,6" alt="Medlem 6">
    <div>
        <h2>Medlem 6</h2>
        <p>Medlem. Netværk.</p>
    </div> -->
</div>

<style>
    .board-member{
        margin-bottom: 10em;
    }
</style>