            <!-- Initial content: Home with integrated sections (without Events) -->
            <div class="section">
                <h1>Om GUNST.</h1>
                <p>GUNST. er en platform for talentudvikling, kreativ udfoldelse og fællesskab. Gennem workshops, projekter, festivaler og netværk styrker vi det sociale og kulturelle liv i danske byer.</p>
                <h2>Frivillig forening</h2>
                <p>Vi er en registreret forening af ildsjælde for ildsjæle.</p>
                <h2>Vores mission</h2>
                <p>Vores mission er at styrke unge talenter gennem erfaring og professionalisering.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum

                </p>
            </div>
            <div class="section">
                <h2>Vi laver</h2>
                <p>Vi har samarbejdet med Roskilde Festival om workshop-arbejde. 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                    Derudover arrangerer vi niche-koncerter og støtter alternative kunstformer som traditionel indisk dans og spoken word poesi.</p>
            </div>
            <div class="section">
                <h2>Sparring</h2>
                <p>GUNST. sparring henvender sig til unge kulturskabere, der har brug for hjælp til at skabe deres egne kulturprojekter. Vi kan hjælpe med strukturering, kontakt til erfarne i vores netværk og fondssøgning.</p>
            </div>

            </div>
