<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div id="main-container">
    <div id="content-container">
        <h1>home</h1>
        <p>lorem gunstum</p>
    </div>

    <div id="nav-container">
        <button hx-get="/home.html" hx-target="#content-container" hx-swap="innerHTML">Home</button>
        <button hx-get="/billetter.html" hx-target="#content-container" hx-swap="innerHTML">Billetter</button>
        <button hx-get="/vaerdier.html" hx-target="#content-container" hx-swap="innerHTML">Værdier</button>
        <button hx-get="/kontakt.html" hx-target="#content-container" hx-swap="innerHTML">Kontakt</button>
    </div>
</div>
    
</body>
</html>